* { margin: 0; padding: 0; box-sizing: border-box; }
body { font: 13px Helvetica, Arial; }
#form { background: #000; padding: 3px; position: fixed; bottom: 0; width: 100%; }
#form input { border: 0; padding: 10px; margin-right: .5%; border-radius: 5px; }
#form button { width: 9%; background: rgb(130, 224, 255); border: none; padding: 10px; border-radius: 5px; }
#nickname { margin-bottom: 3px; }
#n { width: 30%; }
#m { width: 90%; }
#messages-bottom { height: 77px; }
#messages, #typing { list-style-type: none; padding: 0; }
#messages li, #typing { padding: 5px 10px; }
#messages li:nth-child(odd) { background: #eee; }
#typing { font-style: italic; }
#notification { background: green !important; color: white; }
#error { background: red !important; color: white; }
#welcome { background: pink !important; }/