* { margin: 0; box-sizing: border-box; }
body { font: 13px Helvetica, Arial; }
a { text-decoration: none; font-weight: bold; }
#nickname-wrapper { text-align: center; display: flex; align-items: center; justify-content: center; }
#nickname-background { padding: 20px; background-color: #c9c9c9; border-radius: 10px; }
#nickname-wrapper { min-height: 70% }
#nickname-wrapper, #user-list-wrapper { position: absolute; top: 0px; left: 0px; min-width: 100%; background-color: #f4f4f4; padding: 5px 7px; }
#set-nickname-title, #user-list-title { font-weight: bold; color: black; text-align: center; margin: auto; }
#set-nickname-title { font-size: 14px; margin-bottom: 10px }
#messages { list-style-type: none; padding: 0; }
#messages li:nth-child(odd) { background: #eee; }
#num-users-online-info, #messages li, #typing-info { padding: 5px 10px; }
#typing-info { font-style: italic; }
#messages-bottom { height: 77px; }
#send { min-width: 40px; }
#send-message { background: #000; padding: 3px; position: fixed; bottom: 0; width: 100%; }
#send-message input { border: 0; padding: 10px; margin-right: .5%; border-radius: 5px; }
#send-message button { width: 9%; border: none; padding: 10px; border-radius: 5px; }
#nickname { /*width: 30%;*/ }
#message { width: 90%; }
#num-users-online-info { position: fixed; width: 100%; margin: auto; display: none; background-color: green; }
#num-users-online-info a { color: white; }
#user-list-header { text-align: center; }
#user-list-title { font-size: 16px; }
#user-list-wrapper { min-height: 100% }
#user-list-wrapper, #main-chat { display: none; }
#back-to-chat { float: left; }
#user-list { list-style: square; color: green; margin: 10px 0px; }
#user-list li { padding: 2px;  }
#user-list a { color: green; }

#notification { background: blue !important; color: white; }
/*
#error { background: red !important; color: white; }
#welcome { background: pink !important; }/
*/